@media (max-width: 1190px) {
  body {
    .news {
      background-image: none;
      background-color: #fff;
      .news__inner {
        flex-direction: column;
        .news__left {
          img {
            width: 100%;
          }
        }
        .news__right {
          margin-top: 40px;
        }
        .news__title {
          margin-bottom: 20px;
        }
        .news__row {
          margin-bottom: 20px;
          .news__number {
            width: 55px;
            height: 55px;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
          }
          //   .news__text {
          //     max-width: 70%;
          //   }
        }
      }
      .news__box-btn {
        text-align: center;
        .news__btn {
          width: 335px;
        }
      }
    }
  }
  .conversion {
    .conversion__item {
      width: 49%;
    }
    .conversion__person {
      img {
        width: 100%;
      }
    }
  }
  .get {
    background-color: $primary;
    padding: 40px 0px;
    .get__title {
      margin: 0;
      color: #fff;
    }
    .get__inner {
      flex-direction: column;
      margin: 20px 0px 0px 0px;
    }
    .get__item {
      & + .get__item {
        margin-top: 20px;
      }
    }
    .get__blue {
      display: none;
    }
  }
  .zoom {
    .zoom__inner {
      flex-direction: column;
      padding: 40px 0px;
    }
    .zoom__text {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 970px) {
  .header {
    .header__department {
      background-color: #fff;
      background-image: none;
    }
    .header__department-inner {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      .header__left {
        margin-top: 26px;
        text-align: center;
      }
      .header__subtitle {
        margin-top: 30px;
      }
      .header__btn {
        margin-top: 40px;
      }
      .header__right {
        margin: 30px 0px 0px 0px;
        img {
          width: 100%;
        }
      }
    }
  }
  .lost-profit {
    margin-top: 350px;
    .lost-profit__conteiner {
      padding: 40px 15px;
    }
  }
  body {
    .footer {
      padding: 40px 0px;
      .footer__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        .footer__column {
          img {
            display: none;
          }
        }
        .footer__title {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
        }
        .footer__text,
        .footer__phone {
          margin: 10px 0px 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .footer__developers {
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 950px) {
  .header__menu {
    .header__list--delete {
      display: none;
    }
  }
  .header__inner {
    position: relative;
    .header__burger {
      display: block;
    }
    .header__burger.header__burger--active .header__burger-line:nth-child(2) {
      opacity: 0;
    }
    .header__burger.header__burger--active .header__burger-line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .header__burger.header__burger--active .header__burger-line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .header__menu--mobile {
      display: block;
      position: absolute;
      width: 100%;
      background-color: #fff;
      padding: 30px 0px 158px;
      top: 93px;
      left: -100%;
      text-align: center;
      transition: 0.3s;
    }
    .header__menu--mobile.header__burger--active {
      left: 0;
    }
    .header__link--mobile {
      display: block;
      color: $main;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      &:first-child {
        margin-bottom: 65px;
      }
      &:nth-child(2) {
        margin-bottom: 80px;
      }
    }
    .header__title--mobile {
      color: $primary;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .header__text-mobile {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      max-width: 195px;
      margin: 0 auto;
    }
    .header__phone--mobile,
    .header__text-mobile {
      margin-bottom: 40px;
    }
    .header__phone--mobile {
      color: $main;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
    }
    .header__social {
      margin-top: 40px;
      .header__link--whatsapp {
        margin-right: 22px;
      }
      .header__link--telegram {
        margin-left: 22px;
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    .header__inner {
      min-height: 60px;
      .header__logo--desktop {
        display: none;
      }
      .header__logo--mobile {
        display: block;
      }
      .header__link--phone {
        width: 134px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 4px;
        text-align: center;
        &::before {
          display: none;
        }
      }
      .header__menu--mobile {
        top: 59px;
      }
    }
  }
  .lost-profit {
    .lost-profit__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .lost-profit__row {
      display: block;
      & + .lost-profit__row {
        margin-top: 20px;
      }
      .lost-profit__img {
        text-align: center;
        margin-bottom: 20px;
        img {
          width: 100px;
          height: 100px;
        }
      }
      .lost-profit__right {
        margin-left: 0;
      }
      .lost-profit__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
      .lost-profit__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .work {
    padding: 40px 0px;
    .work__row {
      padding: 20px;
    }
    .work__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .work__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      width: 60%;
    }
    .work__number {
      height: 55px;
      width: 55px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
  body {
    .conversion {
      padding: 40px 0px;
    }
    .conversion__item {
      padding: 20px 10px;
    }
    .conversion__row {
      padding: 10px 0px;
    }
    .conversion__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .conversion__number {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
    .conversion__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .get {
    .get__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    .get__item {
      padding: 20px;
      height: auto;
    }
    .get__item-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 550px) {
  .header {
    .header__department-inner {
      .header__left {
        text-align: left;
        .header__title {
          font-weight: 700;
          font-size: 34px;
          line-height: 36px;
        }
        .header__subtitle {
          font-weight: 400;
          font-size: 26px;
          line-height: 30px;
        }
        .header__box-btn {
          text-align: center;
        }
        .header__btn {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          width: 341px;
        }
      }
    }
  }
  .news {
    .news__text {
      max-width: 400px;
    }
  }
  .zoom {
    .zoom__text {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    .zoom__btn {
      width: 338px;
    }
  }
}

@media (max-width: 498px) {
  .news {
    .news__text {
      max-width: 260px;
    }
  }
}
