$main: #262643;
$light-main: #4b4b63;
$dark-gray: #9393a1;
$gray: #d9d9dd;
$light-gray: #f2f2f2;
$light-blue: #eff7ff;
$blue: #67dbff;
$blue-dark: #0354cb;
$primary: #055fe1;
$primary-dark: #055fe1;
$primary-light: #7bb1ff;
$sky-light: #d6ebff;
$sky: #c6e3ff;
