@import '_vars';
@import '_global';

.header {
  height: 100vh;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 94px;
  background-color: #fff;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__list {
  display: inline-block;
  & + .header__list {
    margin-left: 40px;
  }
}

.header__link {
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  color: $main;
}

.header__link--blue {
  padding: 6px 30px 6px 64px;
  background-color: $blue;
  border-radius: 8px;
  position: relative;
  font-size: 26px;
  line-height: 31px;
  &::before {
    content: '';
    background-image: url(../images/header-icon_phone.svg);
    position: absolute;
    top: 9.5px;
    left: 30px;
    width: 24px;
    height: 24px;
  }
}

.header__department {
  background-image: url(../images/remoteDepartment/remoteDepartment-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 225px;
}

.header__department-inner {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.header__left {
  max-width: 504px;
  margin-top: 97px;
}

.header__title {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700px;
  color: $light-main;
}

.header__subtitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 47px;
  color: $light-main;
}

.header__btn {
  width: 240px;
  background-color: $primary-dark;
  border: none;
  border-radius: 8px;
  padding: 20px 0px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 60px;
  cursor: pointer;
}

.header__right {
  margin-left: 75px;
  margin-top: 71px;
}
// HEADER

.lost-profit {
  background-color: $light-blue;
}

.lost-profit__conteiner {
  margin: 0 auto;
  max-width: 905px;
  padding: 100px 15px;
}

.lost-profit__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 80px;
  span {
    color: rgba(5, 95, 225, 1);
  }
}

.lost-profit__row {
  display: flex;
  align-items: center;
  & + .lost-profit__row {
    margin-top: 80px;
  }
}

.lost-profit__right {
  margin-left: 60px;
}

.lost-profit__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  max-width: 720px;
  margin-bottom: 20px;
}

.lost-profit__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
// lost-profit

.news {
  background-image: url(../images/news/news-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__right {
  max-width: 586px;
}

.news__title {
  max-width: 524px;
  margin-bottom: 30px;
  span {
    color: rgba(5, 95, 225, 1);
  }
}

.news__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.news__number,
.work__number {
  width: 80px;
  height: 80px;
  background-color: $primary-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.news__text {
  max-width: 439px;
}

.description,
.news__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.news__btn {
  margin-top: 40px;
  width: 180px;
  padding: 20px 0px;
  border-radius: 8px;
  border: none;
  background-color: $primary-dark;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
// news

.work {
  padding: 60px 0px;
}

.work__title {
  text-align: center;
  margin-bottom: 40px;
}

.work__row {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__row--sky-light {
  background-color: $sky-light;
}

.work__row--sky {
  background-color: $sky;
}

.work__text {
  width: 439px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
// work

.conversion {
  background-color: $light-blue;
  padding: 60px 0px;
}

.conversion__title {
  text-align: center;
  margin-bottom: 40px;
}

.conversion__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conversion__item {
  padding: 30px 55px;
  max-width: 540px;
  background-color: #f2f2f2;
  border: 2px solid $blue-dark;
}

.conversion__item--blue {
  background-color: $blue-dark;
  color: #fff;
  .conversion__text {
    color: #fff;
  }
}

.conversion__row {
  padding: 20px 0px;
  width: 461px;
  text-align: center;
  border-bottom: 1px solid rgba(217, 217, 221, 1);
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0px;
  }
}

.conversion__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $light-main;
}
// conversion

.get {
  position: relative;
}

.get__title {
  text-align: center;
  margin-top: 60px;
}

.get__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 0px;
}

.get__item {
  max-width: 367px;
  border-radius: 8px;
  border: 2px solid rgba(5, 95, 225, 1);
  padding: 60px 36px;
  height: 619px;
  z-index: 2;
  background-color: #fff;
}

.get__img {
  text-align: center;
}

.get__item-title {
  margin-top: 30px;
}

.get__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.get__blue {
  position: absolute;
  bottom: -70px;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 345px;
  background-color: $primary-dark;
}
